import(methods)

importFrom("grDevices", "heat.colors", "dev.off", "pdf", "rgb")
importFrom("graphics", "contour", "image", "legend", "par", "plot", "polygon", "rect", "segments", "strheight", "strwidth", "text")
importFrom("stats", "pchisq", "quantile", "rnorm", "kmeans", "glm", "binomial", "pt", "chisq.test", "kruskal.test", "qnorm", "uniroot")
importFrom("utils", "read.table", "write.table", "head", "tail")
importFrom("Rcpp", "evalCpp") # just to avoid << function 'enterRNGScope' not provided by package 'Rcpp' >> error
importFrom("RcppParallel", "setThreadOptions", "defaultNumThreads")
importFrom("gaston", "rbind", "cbind", "select.snps", "select.inds", "set.stats", "is.autosome")

importFrom("SKAT", "SKAT_Null_Model")
importFrom("mlogit", "mFormula", "mlogit", "mlogit.data")
useDynLib(Ravages)

export(CAST, WSS)
export(set.genomic.region.by.gene)
export(Jaccard)
export(Sum.Fst, Sum.Fst.higher.perms)
export(filter.rare.variants)
export(score.reg.mlogit, get.model.parameters.mlogit)
export(burden.mlogit)

export(genotypic.freq, random.bed.matrix.GRR, compute.GRR.matrix)
export(power.burden)

