import(methods)

importFrom("grDevices", "heat.colors", "dev.off", "pdf", "rgb")
importFrom("graphics", "contour", "image", "legend", "par", "plot", "polygon", "rect", "segments", "strheight", "strwidth", "text")
importFrom("stats", "pchisq", "quantile", "rnorm", "kmeans", "glm", "binomial", "pt")
importFrom("utils", "read.table", "write.table")
importFrom("Rcpp", "evalCpp") # just to avoid << function 'enterRNGScope' not provided by package 'Rcpp' >> error
importFrom("RcppParallel", "setThreadOptions", "defaultNumThreads")

useDynLib(oz)

export(CAST, Chi2, WSS)
export(region.by.pos, region.by.gene)
export(count.singletons)
export(Jaccard)
export(C.ALPHA)
export(Beta.M)
export(colSumsSq, colSumsCub)
export(mafs)
export(geno.simu.controls, geno.simu.case, geno.simu)
export(pow, pow2)
